{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                <p>{{ user.followers.count() }} 粉丝,
                    {{ user.followed.count() }} 特别关注.</p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_user') }}">编辑你的资料 </a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">关注</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">取关</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        <table>
            {% include '_post.html' %}
        </table>
    {% endfor %}
{% endblock %}